body {
  background-color: rgb(233,233,233);
  font-size: 40pt;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.item {
  padding: 10px;
  line-height: 1;
}

.item-thum {
  background-color: #ccc;
  width: 80%;
  border-radius: 4px;
}

.game-container {
  width: 100%;
  position: relative;
  top: 45%;
  transform: translateY(-50%);
}

.game-label {
  text-align: center;
  font-size: 4vw;
  padding: 10px auto;
  font-weight: bold;
}

.game-icon {
  /*height: 120px;*/
  width: 21%;
  margin: 3% 39.5% 0;
  border-radius: 100%;
  display: inline-block;
}

.game-icon img {
  width: 100%;
  /*height: auto;*/
  margin-bottom: 5%;
}

.game-desc {
  font-size: 1.8vw;
  color: #666;
  line-height: 1.3em;
  margin: 10px 10%;
  /*max-width: 600px;*/
  text-align: center;
}

#topicCarousel {
  /*background-color: gray;*/
}

#topic-container {
  background-color: rgb(220,220,220);
  width: 92%;
  height: 100%;
  margin-top: 10%;
}

.topic-label {
  font-size: 3.5vw;
  font-weight: 500;
  text-align: center;
  width: 90%;
  margin: 0 5%;
  position: relative;
  top: 42%;
  transform: translateY(-50%);
}

.item-scroll {
  width: 100%;
}

.item-color {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  border-bottom: 4px solid;
}

.mini-selector {
  margin: 5px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: gainsboro;
  display: inline-block;
}

.mini-selector:active {
  background-color: rgb(180,180,180)
}

.mini-carousel {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.carousel {
  /*background-color: lightBlue;*/
  height: 90%;
  width: 100%;
}

.checkbox {
  width: 100%;
}

.checkbox__checkmark {
  float: right;
}

.checkbox--noborder > .checkbox__checkmark:after {
  top: 4px;
  left: 4px;
  opacity: 0;
  width: 10px;
  height: 5px;
}

.checkbox--noborder > .checkbox__checkmark {
  border: 1px solid grey;
  margin-top: 2px;
  width: 15px;
  height: 20px;
}

.range {
  width: 100px;
}

.item-label ng-binding {
  background-color: red;
}

ons-toolbar ~ .page__content {
  top: 10%;
}

.popover__top-arrow {
  display: none;
}

.checkbox > .checkbox__checkmark:before {
  border-radius: 0px;
}

.checkbox--noborder > .checkbox__checkmark:after {
  border-color: grey;
}

.gametime-container,
.gamenext-container {
  height: 20%;
}

.gameword-container {
  height: 60%;
}

.word {
  text-align: center;
  font-size: 4em;
  margin-top: -1em;
}

.next-button {
  float: right;
  padding: 1em;
  margin: 1em;
}

/* Navigation Bar Styles */

.navigation-bar {
  background-color: rgb(64,64,64);
  border-top: solid 6px rgb(50,50,50);
  height: 34px;
}

.navigation-bar__left {
  padding-left: 10px;
  letter-spacing: 1px;
}

.navigation-bar__title,
.navigation-bar__left,
.navigation-bar__right,
.toolbar-button,
.toolbar--outline,
.toolbar-button--quiet,
.back-button__label,
.ons-back-button__icon {
  color: rgb(255,255,255);
  font-size: 15px;
  height: 20px;
  line-height: 20px;
  padding-top: 1px;
}
