body {
  background-color: rgb(233,233,233);
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.item {
  padding: 10px;
  line-height: 1;
}

.item-thum {
  background-color: #ccc;
  width: 80%;
  border-radius: 4px;
}

.item-title {
  font-size: 14pt;
  font-weight: 500;
  text-align: center;
}

.item-label {
  text-align: center;
  font-size: 28pt;
  padding: 5px;
  font-weight: bold;
}

.item-icon {
  height: 120px;
  width: 120px;
  margin: 10px auto;
  border-radius: 100%;
}

.topic-icon {

}

.item-desc {
  font-size: 14px;
  color: #666;
  line-height: 1.3;
  margin: 0px auto;
  width: 500px;
  text-align: center;
}

.item-scroll {
  width: 100%;
}

.mini-selector {
  margin: 5px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: gainsboro;
  display: inline-block;
}

.mini-selector:active {
  background-color: rgb(180,180,180)
}

.mini-carousel {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.carousel {
  height: 90%;
  width: 100%;
}

.checkbox {
  width: 100%;
}

.checkbox__checkmark {
  float: right;
}

.checkbox--noborder > .checkbox__checkmark:after {
  top: 4px;
  left: 4px;
  opacity: 0;
  width: 10px;
  height: 5px;
}

.checkbox--noborder > .checkbox__checkmark {
  border: 1px solid grey;
  margin-top: 2px;
  width: 20px;
  height: 20px;
}

.range {
  width: 100px;
}

.item-label ng-binding {
  background-color: red;
}

.popover__top-arrow {
  display: none;
}

.checkbox > .checkbox__checkmark:before {
  border-radius: 0px;
}

.checkbox--noborder > .checkbox__checkmark:after {
  border-color: grey;
}

/* Navigation Bar Styles */

.navigation-bar {
  background-color: rgb(64,64,64);
  border-top: solid 6px rgb(50,50,50);
  height: 30px;
}

.navigation-bar__left {
  padding-left: 10px;
  letter-spacing: 1px;
}

.navigation-bar__title,
.navigation-bar__left,
.navigation-bar__right,
.toolbar-button,
.toolbar--outline,
.toolbar-button--quiet,
.back-button__label,
.ons-back-button__icon {
  color: rgb(255,255,255);
  font-size: 15px;
  height: 20px;
  line-height: 20px;
}
