
/* Main Element Styles*/

body {
  background-color: rgb(233,233,233);
  font-size: 40pt;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.item {
  padding: 10px;
  line-height: 1;
}

.item-thum {
  background-color: #ccc;
  width: 80%;
  border-radius: 4px;
}

.item-scroll {
  width: 100%;
}

.item-color {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  border-bottom: 4px solid;
}

.mini-selector {
  margin: 5px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: gainsboro;
  display: inline-block;
}

.mini-selector:active {
  background-color: rgb(180,180,180)
}

.mini-carousel {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.carousel {
  height: 90%;
  width: 100%;
}

.page__background {
  background-color: rgb(240,240,240);
}








/* Game Select VIew Styles */

.game-container {
  width: 100%;
  position: relative;
  top: 45%;
  transform: translateY(-50%);
}

.game-label {
  text-align: center;
  font-size: 5vw;
  /*font-size: 2em;*/
  padding: 10px auto;
  font-weight: bold;
}

.game-icon {
  border-radius: 100%;
  display: inline-block;
  margin: 2% 39.5% 0;
  width: 21%;
}

.game-icon img {
  width: 100%;
  margin-bottom: 5%;
}

.game-desc {
  font-size: 2vw;
  /*font-size: 0.8em;*/
  color: #666;
  line-height: 1.3em;
  margin: 10px 10%;
  text-align: center;
}

/*.game-color {
  border-bottom: 5px solid;
  width: 100%;
}*/








/* Topic Screen Styles */

#topic-container {
  background-color: rgb(120,120,120);
  box-shadow: 10px 10px 40px rgba(0,0,0,0.5);
  color: rgb(240,240,240);
  width: 90%;
  height: 80%;
  margin-top: 10%;
  overflow: hidden;
}

.topic-label {
  font-size: 3.5vw;
  /*font-size: 1.6em;*/
  font-weight: 500;
  text-align: center;
  width: 90%;
  margin: 0 5%;
  position: relative;
  top: 42%;
  transform: translateY(-50%);
  border-top: 3px solid rgb(240,240,240);
  border-bottom: 3px solid rgb(240,240,240);
  padding: 10px 0;
}

#topic-container:active,
.topic-label:active,
 #topic-container:hover,
 .topic-label:hover{
  background-color: rgb(80,80,80);
  cursor: pointer;
}

#topicCarousel {
  height: 100%;
}








/* Instruction View Styles */

.instructions-container {
  width: 80%;
  height: 100%;
  margin: 0 10%;
  text-align: center;
}

.instructions {
  font-size: 4vw;
  /*font-size: 1.6em;*/
  text-align: center;
  position: relative;
  top: 48%;
  transform: translateY(-60%);
}

/*.instructions_image {
  margin: 0 20% 2%;
  background-color: gray;
  width: 60%;
  height: 400px;
}*/

.continue-text {
  bottom: 10px;
  font-size: 2.5vw;
  font-weight: 300;
  position: fixed;
  display: block;
  margin: 0 15%;
  width: 50%;
}







/* Game and Results View Styles */

.gametime-container,
.gamenext-container {
  height: 20%;
}

.gameword-container {
  height: 60%;
  width: 90%;
  margin: 0 5%
}

.score-row,
.button-row {
  height: 20%;
}

.list-row {
  height: 60%;
}

.list__item {
  
}

.word-list {
  height: 100%;
  width: 100%;
}

.word-list_list {
  font-size: 3vw;
  height: 100%;
  margin: 0 20px;
  background-color: rgb(255,255,255);
}

.score {
  text-align: center;
  font-size: 5vw;
  /*font-size: 2em;*/
}

.word {
  text-align: center;
  font-size: 7vw;
  /*font-size: 3em;*/
  margin-top: -1em;
}








/* Game Button Styles */

.button {
  background-color: gray;
  margin: 17px;
  width: 90%
}

.next-button {
  float: left;
}

.back-button {
  float: right;

}

.play-button {
  float: left;
}








/* Navigation Bar Styles */

.navigation-bar {
  background-color: rgb(64,64,64);
  border-top: solid 6px rgb(50,50,50);
  height: 34px;
}

.navigation-bar__left {
  padding-left: 10px;
  letter-spacing: 1px;
}

.navigation-bar__title,
.navigation-bar__left,
.navigation-bar__right,
.toolbar-button,
.toolbar--outline,
.toolbar-button--quiet,
.ons-back-button__icon {
  color: rgb(255,255,255);
  font-size: 15px;
  height: 20px;
  line-height: 20px;
  padding-top: 1px;
}

.checkbox {
  width: 100%;
}

.checkbox__checkmark {
  float: right;
}

.checkbox--noborder > .checkbox__checkmark:after {
  top: 4px;
  left: 4px;
  opacity: 0;
  width: 10px;
  height: 5px;
}

.checkbox--noborder > .checkbox__checkmark {
  border: 1px solid grey;
  margin-top: 2px;
  width: 20px;
  height: 20px;
}

.range {
  width: 100px;
}

.item-label ng-binding {
  background-color: red;
}

ons-toolbar ~ .page__content {
  top: 10%;
}

.popover__top-arrow {
  display: none;
}

.checkbox > .checkbox__checkmark:before {
  border-radius: 0px;
}

.checkbox--noborder > .checkbox__checkmark:after {
  border-color: grey;
}

.ion-ios-arrow-back:before {
  font-size: 20px;
  float: left;
}
