
/* Main Element Styles*/

body {
  background-color: rgb(233,233,233);
  font-size: 70%;;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.item {
  padding: 10px;
  line-height: 1;
}

.item-thum {
  background-color: #ccc;
  width: 80%;
  border-radius: 4px;
}

.item-scroll {
  width: 100%;
}

.item-color {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  border-bottom: 4px solid;
}

.mini-selector {
  margin: 5px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: gainsboro;
  display: inline-block;
}

.mini-selector:active {
  background-color: rgb(180,180,180)
}

.mini-carousel {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.carousel {
  height: 90%;
  width: 100%;
}

.page__background {
  background-color: rgb(240,240,240);
}








/* Game Select VIew Styles */

#icon-container{
  position: relative;
  margin: 4% 0 0 0;
}

#label-container{
  font-size: 1.8rem;
  font-weight: bold;
  position: relative;
  padding: 5px 0;
}

#desc-container{
  color: #666;
  font-size: 1rem;
  position: relative;
}

.game-icon img {
  width: 100%;
  /*margin-bottom: 10%;*/
}










/* Topic Screen Styles */

#topicCarousel {
  position: relative;
  margin: 5% 0 0 0;
  height: 100%;
}

.topic-container {
  background-color: rgb(120,120,120);
  box-shadow: 10px 10px 40px rgba(0,0,0,0.5);
  color: rgb(240,240,240);
  height: 80%;
  width: 90%;
}

.topic-title {
  border-bottom: 3px solid rgb(240,240,240);
  border-top: 3px solid rgb(240,240,240);
  font-size: 1.5rem;
  padding: 10px 0;
  margin: 0 5%;
  width: 90%;
}








/* Instruction View Styles */

#instruction-container {
  font-size: 1.6rem;
  height: 80%;
  position: relative;
  margin: 5% 0 0 0;
}

#continue-container {
  font-size: 0.8rem;
  height: 20%;
}







/* Game and Results View Styles */

.gametime-container,
.gamenext-container {
  height: 20%;
}

.gameword-container {
  height: 60%;
  width: 90%;
  margin: 0 5%
}

.score-row,
.button-row {
  height: 20%;
}

.list-row {
  height: 60%;
}

.list__item {
  font-size: 1em;
}

.word-list {
  height: 100%;
  width: 100%;
}

.word-list_list {
  font-size: 1.5rem;
  height: 100%;
  margin: 0 20px;
  background-color: rgb(255,255,255);
}

.score {
  text-align: center;
  font-size: 2rem;
}

.word {
  text-align: center;
  font-size: 3rem;
  margin-top: -1em;
}








/* Game Button Styles */

.button {
  background-color: gray;
  margin: 17px;
  width: 90%
}

.next-button {
  float: left;
}

.back-button {
  float: right;

}

.play-button {
  float: left;
}





/* Navigation Bar Styles */

.navigation-bar {
  background-color: rgb(64,64,64);
  border-top: solid 6px rgb(50,50,50);
}

.navigation-bar__left,
.navigation-bar__center,
.navigation-bar__right,
.ons-icon {
  color: white;
  margin-top: -6px;
}

.navigation-bar__left {
  letter-spacing: 0.5px;
  line-height: 44px;
  padding-left: 8px;
}

.checkbox {
  width: 100%;
}

.checkbox__checkmark {
  float: right;
}

.checkbox--noborder > .checkbox__checkmark:after {
  top: 4px;
  left: 4px;
  opacity: 0;
  width: 10px;
  height: 5px;
}

.checkbox--noborder > .checkbox__checkmark {
  border: 1px solid grey;
  margin-top: 2px;
  width: 20px;
  height: 20px;
}

.range {
  width: 100px;
}

.item-label ng-binding {
  background-color: red;
}

ons-toolbar ~ .page__content {
  top: 10%;
}

#timerRange {
  position: relative;
  top: 5px;
  width: 100%;
}

.popover__top-arrow {
  display: none;
}

.checkbox > .checkbox__checkmark:before {
  border-radius: 0px;
}

.checkbox--noborder > .checkbox__checkmark:after {
  border-color: grey;
}

.ion-ios-arrow-back:before {
  font-size: 2.5rem;
  float: left;
}
