body {
  background-color: rgb(233,233,233);
  font-size: 40pt;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.item {
  padding: 10px;
  line-height: 1;
}

.item-thum {
  background-color: #ccc;
  width: 80%;
  border-radius: 4px;
}

.item-title {
  font-size: 14pt;
  font-weight: 500;
  text-align: center;
}

.item-label {
  text-align: center;
  font-size: 28pt;
  padding: 10px auto;
  font-weight: bold;
}

.item-icon {
  height: 120px;
  width: 40%;
  margin: 10px 30%;
  border-radius: 100%;
  display: inline-block;
}

.item-icon img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.item-desc {
  font-size: 1em;
  color: #666;
  line-height: 1.3em;
  margin: 10px auto;
  max-width: 600px;
  text-align: center;
}

.item-scroll {
  width: 100%;
}

.item-color {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  border-bottom: 4px solid;
}

.mini-selector {
  margin: 5px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: gainsboro;
  display: inline-block;
}

.mini-selector:active {
  background-color: rgb(180,180,180)
}

.mini-carousel {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.carousel {
  /*background-color: rgb(190,190,190);*/
  height: 90%;
  width: 50%;
  margin: 0 25%;
}

.checkbox {
  width: 100%;
}

.checkbox__checkmark {
  float: right;
}

.checkbox--noborder > .checkbox__checkmark:after {
  top: 4px;
  left: 4px;
  opacity: 0;
  width: 10px;
  height: 5px;
}

.checkbox--noborder > .checkbox__checkmark {
  border: 1px solid grey;
  margin-top: 2px;
  width: 15px;
  height: 20px;
}

.range {
  width: 100px;
}

.item-label ng-binding {
  background-color: red;
}

ons-toolbar ~ .page__content {
  top: 10%;
}

.popover__top-arrow {
  display: none;
}

.checkbox > .checkbox__checkmark:before {
  border-radius: 0px;
}

.checkbox--noborder > .checkbox__checkmark:after {
  border-color: grey;
}

/* Navigation Bar Styles */

.navigation-bar {
  background-color: rgb(64,64,64);
  border-top: solid 6px rgb(50,50,50);
  height: 34px;
}

.navigation-bar__left {
  padding-left: 10px;
  letter-spacing: 1px;
}

.navigation-bar__title,
.navigation-bar__left,
.navigation-bar__right,
.toolbar-button,
.toolbar--outline,
.toolbar-button--quiet,
.back-button__label,
.ons-back-button__icon {
  color: rgb(255,255,255);
  font-size: 15px;
  height: 20px;
  line-height: 20px;
  padding-top: 1px;
}
