@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

body {
  background-color: rgb(233,233,233);
  font-family: 'Roboto Slab';
}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
}

.item {
    padding: 10px;
    line-height: 1;
}

.item-thum {
    background-color: #ccc;
    width: 80%;
    border-radius: 4px;
}

.item-title {
    font-size: 15px;
    font-weight: 500;
}

.item-label {
  text-align: center;
  padding: 50px;
}

.item-desc {
    font-size: 14px;
    color: #666;
    line-height: 1.3;
    margin: 4px 0 0 0;
    padding: 0 30px 0 0;
}

.item-scroll {
    width: 100%;
}

.mini-selector {
  margin: 5px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: gainsboro;
  display: inline-block;
}

.mini-selector:active {
  background-color: rgb(180,180,180)
}

.mini-carousel {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.carousel {
  height: 90%;
  width: 100%;
}

.item-label ng-binding {
  background-color: red;
}


/* Navigation Bar Styles */

.navigation-bar {
  background-color: rgb(64,64,64);
  border-top: solid 6px rgb(50,50,50);
  height: 30px;
}

.navigation-bar__left {
  padding-left: 10px;
  font-family: 'Slabo';
  letter-spacing: 1px;
}

.navigation-bar__title,
.navigation-bar__left,
.navigation-bar__right,
.toolbar-button,
.toolbar--outline,
.toolbar-button--quiet,
.back-button__label,
.ons-back-button__icon {
  color: rgb(255,255,255);
  font-size: 10px;
  height: 20px;
  line-height: 20px;
}