<!DOCTYPE html>
<!-- CSP support mode (required for Windows Universal apps): https://docs.angularjs.org/api/ng/directive/ngCsp -->
<html lang="en" ng-app="app" ng-csp>
<head>
  <meta charset="utf-8" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="mobile-web-app-capable" content="yes" />

  <!-- JS dependencies (order matters!) -->
  <script src="scripts/platformOverrides.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/onsen/js/onsenui.js"></script>

  <!-- CSS dependencies -->
  <link rel="stylesheet" href="lib/onsen/css/onsenui.css" />
  <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-blue-basic-theme.css" />

  <!-- CSP support mode (required for Windows Universal apps) -->
  <link rel="stylesheet" href="lib/angular/angular-csp.css" />
  <link rel="stylesheet" href="css/styles.css" />


  <!-- --------------- App init --------------- -->
  <script src="js/app.js"></script>

  <title>Onsen UI Master-Details</title>

</head>

<body ng-controller="AppController">
  <!-- Cordova reference -->
  <script src="cordova.js"></script>
  <script src="scripts/index.js"></script>
  <!-- -->

  <ons-navigator var="navi">
    <ons-page ng-controller="MasterController">
      <ons-toolbar>
        <div class="left">Gospel Game Kit</div>
        <div class="center"></div>
        <div class="right">
          <ons-toolbar-button id="menu-button" ng-click="showPopover('#menu-button')">
            <ons-icon icon="fa-bars">
          </ons-toolbar-button>
        </div>
      </ons-toolbar>

      <ons-carousel class="carousel" swipeable overscrollable auto-scroll var="gameCarousel">
        <ons-carousel-item ng-repeat="game in games" ng-click="showTopic($index)">
          <!-- TODO: Replace the element below with the game select element -->
          <div class="item-icon"><img src="{{game.icon}}"></img></div>
          <div class="item-label">{{game.title}}</div>
          <div class="item-desc">{{game.desc}}</div>
        </ons-carousel-item>
      </ons-carousel>
      <div class="mini-carousel">
        <div ng-repeat="n in [1,2,3,4]" class="mini-selector" ng-click="changeGame($index)"></div>
      </div>
    </ons-page>
  </ons-navigator>

  <ons-template id="topics.html">
    <ons-page ng-controller="TopicController">

      <ons-toolbar>
        <!-- TODO: Change to up arrow? -->
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">Topics</div>
      </ons-toolbar>

      <ons-carousel class="carousel" swipeable overscrollable auto-scroll item-width="30%" var="topicCarousel">
        <ons-carousel-item ng-repeat="topic in topics" ng-click="showInstructions($index)">
          <!-- TODO: Replace the element below with the game select element -->
          <div class="item-title">{{topic.title}}</div>
        </ons-carousel-item>
      </ons-carousel>

    </ons-page>
  </ons-template>

  <ons-template id="instructions.html">
    <ons-page ng-controller="InstructionController" ng-click="startGame()">

      <img id="instructions_image">
      <div class="instructions">Instructions</div>

    </ons-page>
  </ons-template>

  <ons-template id="game.html">
    <ons-page ng-controller="GameController">

      <ons-toolbar>
        <!-- TODO: Change to up arrow? -->
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">Game</div>
      </ons-toolbar>

      <div class="word" id="word_div"></div>
      <button ng-click="nextWord()">Next</button>

    </ons-page>
  </ons-template>

  <ons-template id="popover.html">
    <ons-popover direction="down" cancelable modifier="android">
      <ons-list>
        <ons-list-item>
          <label class="checkbox checkbox--noborder" ng-click="changeSound()">Sound<input id="checkSound" type="checkbox" checked="checked"><div class="checkbox__checkmark  checkbox--noborder__checkmark"></div></label>
        </ons-list-item>
        <ons-list-item>
          <label class="checkbox checkbox--noborder" ng-click="changeMusic()">Music<input id="checkMusic" type="checkbox" checked="checked"><div class="checkbox__checkmark  checkbox--noborder__checkmark"></div></label>
        </ons-list-item>
        <ons-list-item>
          <label class="checkbox checkbox--noborder" ng-click="changeInstructions()">Instructions<input id="checkInstructions" type="checkbox" checked="checked"><div class="checkbox__checkmark  checkbox--noborder__checkmark"></div></label>
        </ons-list-item>
        <ons-list-item>Timer Length</ons-list-item>
        <ons-list-item>
          <label>1min <input type="range" class="range" min="60" max="180" step="20"> 3min</label>
        </ons-list-item>
      </ons-list>
    </ons-popover>
  </ons-template>

</body>
</html>
