<!DOCTYPE html>
<!-- CSP support mode (required for Windows Universal apps): https://docs.angularjs.org/api/ng/directive/ngCsp -->
<html lang="en" ng-app="app" ng-csp>
<head>
  <meta charset="utf-8" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="mobile-web-app-capable" content="yes" />

  <!-- JS dependencies (order matters!) -->
  <script src="phonegap.js"></script>
  <script src="scripts/platformOverrides.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/onsen/js/onsenui.js"></script>

  <!-- CSS dependencies -->
  <link rel="stylesheet" href="lib/onsen/css/onsenui.css" />
  <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-blue-basic-theme.css" />

  <!-- CSP support mode (required for Windows Universal apps) -->
  <link rel="stylesheet" href="lib/angular/angular-csp.css" />
  <link rel="stylesheet" href="css/styles.css" />


  <!-- --------------- App init --------------- -->
  <script src="js/app.js"></script>

  <title>Onsen UI Master-Details</title>

</head>

<body ng-controller="AppController" >
  <!-- Cordova reference -->
  <script src="cordova.js"></script>
  <script src="scripts/index.js"></script>

  <ons-navigator var="navi">
    <ons-page ng-controller="MasterController">

      <ons-toolbar fixed-style>
        <div class="left left-padding">Gospel Game Kit</div>
        <div class="center"></div>
        <div class="right">
          <ons-toolbar-button id="menu-button" ng-click="showPopover('#menu-button')">
            <ons-icon icon="fa-bars">
          </ons-toolbar-button>
        </div>
      </ons-toolbar>

      <ons-carousel class="carousel" swipeable overscrollable auto-scroll auto-scroll-ratio="0.2" var="gameCarousel">
        <ons-carousel-item ng-repeat="game in games" ng-click="showTopic($index)">

          <ons-row align="center" class="game-select-container">
            <ons-col>
              <ons-row id="icon-container">
                <ons-col width="40%"></ons-col>
                <ons-col align="middle" width="20%">
                  <div class="game-icon"><img src="{{game.icon}}"></img></div>
                </ons-col>
                <ons-col width="40%"></ons-col>
              </ons-row>
              <ons-row id="label-container">
                <ons-col width="10%"></ons-col>
                <ons-col align="middle" width="80%">
                  <div class="game-label">{{game.title}}</div>
                </ons-col>
                <ons-col width="10%"></ons-col>
              </ons-row>
              <ons-row id="desc-container">
                <ons-col width="10%"></ons-col>
                <ons-col align="middle" width="80%">
                  <div class="game-desc">{{game.desc}}</div>
                </ons-col>
                <ons-col width="10%"></ons-col>
              </ons-row>
            </ons-col>
          </ons-row>

        </ons-carousel-item>
      </ons-carousel>

      <div class="mini-carousel">
        <div ng-repeat="game in games" class="mini-selector" ng-click="changeGame($index)"></div>
      </div>
    </ons-page>
  </ons-navigator>






  <ons-template id="topics.html">
    <ons-page ng-controller="TopicController">

      <ons-toolbar fixed-style>
        <div class="left"><ons-back-button ng-click="back()">Back</ons-back-button></div>
        <div class="center">Topics</div>
        <div class="right">
          <ons-toolbar-button id="topic-menu-button" ng-click="showPopover('#topic-menu-button')">
            <ons-icon icon="fa-bars">
          </ons-toolbar-button>
        </div>
      </ons-toolbar>

      <ons-carousel class="carousel" id="topicCarousel" swipeable overscrollable auto-scroll item-width="30%" var="topicCarousel">
        <ons-carousel-item ng-repeat="topic in topics" ng-click="showInstructions($index)">


              <ons-row class="topic-container" align="center">
                <ons-col align="middle" width="100%">
                  <div class="topic-title">{{topic.title}}</div>
                </ons-col>
              </ons-row>


        </ons-carousel-item>
      </ons-carousel>
    </ons-page>
  </ons-template>






  <ons-template id="instructions.html">

    <ons-page ng-controller="InstructionController">
      <ons-toolbar fixed-style>
        <div class="left"><ons-back-button ng-click="back()">Back</ons-back-button></div>
        <div class="center">Instructions</div>
        <div class="right">
          <ons-toolbar-button id="instructions-menu-button" ng-click="showPopover('#instructions-menu-button')">
            <ons-icon icon="fa-bars">
          </ons-toolbar-button>
        </div>
      </ons-toolbar>


      <div ng-click="startGame()" class="page-container">
        <ons-row id="instruction-container" align="center">
          <ons-col width="10%"></ons-col>
          <ons-col width="80%" align="middle">
            <div class="instructions">{{game.instructions}}</div>
          </ons-col>
          <ons-col width="10%"></ons-col>
        </ons-row>
        <ons-row id="continue-container" align="top">
          <ons-col width="10%"></ons-col>
          <ons-col width="80%" align="middle">
            <div class="continue-text">Tap screen to continue</div>
          </ons-col>
          <ons-col width="10%"></ons-col>
        </ons-row>
      </div>

    </ons-page>
  </ons-template>






  <ons-template id="game.html">
    <ons-page ng-controller="GameController">

      <ons-toolbar fixed-style>
        <div class="left"><ons-back-button ng-click="back()">Back</ons-back-button></div>
        <div class="center">{{game.title}}</div>
        <div class="right">
          <ons-toolbar-button id="game-menu-button" ng-click="showPopover('#game-menu-button')">
            <ons-icon icon="fa-bars">
          </ons-toolbar-button>
        </div>
      </ons-toolbar>

      <ons-row class="gametime-container" align="center"><ons-col id="timer_div" class="timer"></ons-col></ons-row>
      <ons-row class="gameword-container" align="center"><ons-col class="word" id="word_div"></ons-col></ons-row>
      <ons-row class="gamenext-container" align="center">
        <ons-col class="button-col"></ons-col>
        <ons-col class="button-col"></ons-col>
        <ons-col class="button-col"><ons-button modifier="large" class="next-button" id="nextButton" ng-click="nextWord()">Next</ons-button></ons-col>
      </ons-row>

    </ons-page>
  </ons-template>






  <ons-template id="results.html">
    <ons-page ng-controller="ResultsController">

      <ons-row class="score-row" align="center"><ons-col class="score" id="scoreDiv">Score:</ons-col></ons-row>
      <ons-row class="list-row" align="center">
        <ons-col class="word-list" id="list_div">
          <ons-list class="word-list_list">
            <ons-list-item ng-repeat="item in playlist">{{item}}</ons-list-item>
          </ons-list>
        </ons-col>
      </ons-row>
      <ons-row class="button-row" align="center">
        <ons-col class="button-col">
          <ons-button modifier="large" class="back-button" ng-click="back()">Back</ons-button>
        </ons-col>
        <ons-col class="button-col">
          <ons-button modifier="large" class="play-button" ng-click="play()">Play Again</ons-button>
        </ons-col>
      </ons-row>

    </ons-page>
  </ons-template>






  <ons-template id="popover.html">
    <ons-popover direction="down" cancelable modifier="android" style="width: 300px">
      <ons-list>
        <ons-list-item>
          <label class="checkbox checkbox--noborder" ng-click="changeSound()">Sound<input id="checkSound" type="checkbox" checked="checked"><div class="checkbox__checkmark  checkbox--noborder__checkmark"></div></label>
        </ons-list-item>
        <!--<ons-list-item>
          <label class="checkbox checkbox--noborder" ng-click="changeMusic()">Music<input id="checkMusic" type="checkbox" checked="checked"><div class="checkbox__checkmark  checkbox--noborder__checkmark"></div></label>
        </ons-list-item>-->
        <ons-list-item>
          <label class="checkbox checkbox--noborder" ng-click="changeInstructions()">Instructions<input id="checkInstructions" type="checkbox" checked="checked"><div class="checkbox__checkmark  checkbox--noborder__checkmark"></div></label>
        </ons-list-item>
        <ons-list-item>Timer Length (seconds)</ons-list-item>
        <ons-list-item><ons-row>
          <ons-col width="20%">30</ons-col>
          <ons-col width="60%" align="center"><input id="timerRange" type="range" class="center" min="30" max="90" step="10" ng-model="settings.timerLength" ng-change="changeTimerLength()"></ons-col>
          <ons-col width="20%" style="text-align: right;">90</ons-col>
        </ons-row></ons-list-item>
      </ons-list>
    </ons-popover>
  </ons-template>

</body>
</html>
